<div>
    <br>
    <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li>Results</li>
    </ol>

    <uib-accordion>
        <uib-accordion-group ng-repeat="result in vm.results" is-open="result.open"
                             ng-click="vm.expand($index, result.imdbID)">
            <uib-accordion-heading>
                {{result.Title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down' : result.open,
                'glyphicon-chevron-right' : !result.open}"></i>
            </uib-accordion-heading>
            <movie-result result="result.data" ng-hide="result.loading"></movie-result>
            <loading ng-show="result.loading"></loading>
        </uib-accordion-group>
    </uib-accordion>
</div>