<!doctype html>
<html lang="en" ng-app="movieApp">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/loading.css">
</head>
<body>
<div class="hearder">
    <div class="container">
        <div class="page-header">
            <h1><a href="#/">MovieApp</a></h1>
            <p class="lead">Tour Resource for Movie Data</p>
        </div>
        <div ng-controller="SearchController as vm">
            <form class="form-inline-lg" ng-submit="vm.search()">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Film title... " ng-model="vm.query"
                    ng-keyup="vm.keyup()" ng-keydown="vm.keydown()">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.search()">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div ng-view=""></div>
</div>

<hr>
<div class="footer">
    <div class="container">
        <p>Made By Juan Jardim | Following the pluralsight course on AngularJS Unit Testing in-depth, Using ngMock </p>
        <p>Data From:  OMDb API - The Open Movie Database</p>
    </div>
</div>

<!-- include source files here... -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-mocks.js"></script>
<script src="lib/angular/angular-resource.min.js"></script>
<script src="lib/angular/angular-route.min.js"></script>
<script src="lib/angular/ui-bootstrap-tpls-1.1.2.min.js"></script>

<!-- Application files -->
<script src="app.js"></script>


<script src="movie-app/search.controller.js"></script>
<script src="movie-app/results.controller.js"></script>
<script src="movie-app/home.controller.js"></script>
<script src="movie-app/movie-result.directive.js"></script>
<script src="movie-app/loading.directive.js"></script>
<script src="movie-app/config.js"></script>

<script src="omdb/omdb.js"></script>
<script src="omdb/service.js"></script>

<script src="movie-core/moviecore.js"></script>
<script src="movie-core/service.js"></script>

<!--
<script src="movie-core/moviecore.js"></script>
<script src="movie-core/service.js"></script>
-->

</body>
</html>